---
import Button from "../components/Button.astro";
const { data } = Astro.props;
console.log(data);
---

<article data-category={data.category} class="product_card">
  <a href="#"
    ><img
      src={`/img/products/${data.img}.webp`}
      alt={`Can of ${data.name}`}
      class=`${data.category}`
    />
    <h3>{data.name}</h3>
    <p class="info">{data.type} | {data.style}</p>
    <p class="price">{data.price},00 DKK</p>
  </a>
  <Button text="Add to cart" href="#" type="cart" />
</article>

<style>
  article {
    padding-bottom: 60px;
    align-self: end;
  }
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
  p {
    text-align: center;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .info {
    color: var(--text2);
    padding-bottom: 6px;
  }
  .price {
    color: var(--text1);
    padding-bottom: 12px;
  }

  img {
    margin: 0 auto;
    padding-bottom: 16px;
  }
  .beer {
    width: 70%;
  }

  .hide {
    display: none;
  }
</style>
